body {
    background: #212121;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;

}

#calc_url_screen {
    width: 650px;
    margin: 0 auto;
    border: 1px solid #ff0000;
    text-align: center;
    margin-top: 100px;
}

#calc_url {
    width: 460px;
}

#loader {
    display: none;
    overflow: hidden;
    position: fixed;
    text-align: center;
    width: 300px;
    height: 273px;
    top: 25%;
    left: 40%;
    border: 1px solid #000;
    border-radius: 10px;
}

#loader img {
    margin-left: -182px;
}


#loader #loading_text {
    font-size: 16px;
    color: #fff;
    opacity: 0.5;
    background: #000;
    width: 300px;
    height: 44px;
    margin-top: -90px;
    padding-top: 8px;
}

#skill_screen .liner {
    padding: 15px;
}

#skill_screen h1 {
    color: #fff;
    margin-top: 5px;
    margin-left: 5px;
}

#skill_screen {
    display: block;
    width: 900px;
    height: 600px;
    background: #000;
    border-radius: 20px;
    margin: 0 auto;
}
.skill_bar .skill {
    width: 42px;
    height: 42px;
    border: 0px solid #ff0000;
    float: left;
    margin-left: 10px;
}

.skill_bar {
    float: left;
    margin-top: 15px;
    height: 60px;
    width: 302px;
}

.skill_bar .skill:first-child {
    margin-left: 0px !important;
}

#paperdoll {
    width: 300px;
    height: 422px;
    border: 0px solid #ff0000;
    background-position: 68.9% 68%;
    border-radius: 4px;
    position: relative;
    background-image: url(http://us.battle.net/d3/static/images/profile/hero/paperdoll/wizard-female.jpg);
}

.item_slot {
    border: 0px dashed #ff0000;
    position: absolute;
}

#slot_shoulders { top: 15px; left: 36px; width: 64px; height: 128px;}

#slot_ring_left { top: 214px;  left: 9px; width: 64px; height: 64px; }
#slot_ring_right { top: 214px; left: 225px; width: 64px; height: 64px;}
#slot_secondary { top: 291px; left: 226px; width: 64px; height: 128px;}
#slot_primary{ top: 285px; left: 10px; width: 64px; height: 128px;}
#slot_feet { top: 307px; left: 118px; width: 64px; height: 128px;}
#slot_chest { top: 53px; left: 109px; width: 84px; height: 164px; }
#slot_head { top: -28px; left: 118px; width: 64px; height: 128px; }
#slot_wrist { top: 107px; left: 226px; width: 64px; height: 128px; }
#slot_hands { top: 112px; left: 8px; width: 64px; height: 128px; }
#slot_legs { top: 213px; left: 118px; width: 64px; height: 128px; }
#slot_neck { top: 47px; left: 198px; width: 64px; height: 128px; }
#slot_waist { top: 180px; left: 119px; width: 64px; height: 64px;}